body{
    background-image: url(ImgCap01/Florestinha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 250px ;
    padding-right: 250px;
}

.back01{
    background-color: aliceblue;
    opacity: 0.75;
    margin: 10px;
    padding-top: 50px;
    padding-left: 80px ;
    padding-right: 80px;
    padding-bottom: 50px;
}

.cap01{
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: Impact;
}

.Texto01{
    color: black;
    font-size: 19px;
    opacity: 1;
    text-align: justify;
    font-family: Tahoma;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: table;
  }
  
a:hover, a:active {
    background-color: red;
  }