body{
    background-image: url(ImgInicio/Florestinha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 250px ;
    padding-right: 250px;
}


.fade-in-naruto {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    padding-top: 100px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a:link, a:visited {
    background-color: #eb7508;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    left: 450px;
  }
  
a:hover, a:active {
    background-color: red;
  }