body{
    background-image: url(imagem/Florestinha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-left: 250px ;
    padding-right: 250px;
}

#cap00{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Cap{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Texto{
    color: black;
    font-size: 19px;
    opacity: 1;
    text-align: justify;
}

#Texto01{
    color: rgb(243, 5, 5);
    font-size: 19px;
    opacity: 1;
    text-align: justify;
}

.back{
    background-color: aliceblue;
    opacity: 0.75;
    margin: 10px;
    padding-top: 50px;
    padding-left: 100px ;
    padding-right: 100px;
    padding-bottom: 100px;
}