body{
    background-image: url(imagem/Florestinha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 400px ;
    padding-right: 400px;
}

#Cap100, #Cap101, #Cap102, #Cap103, #Cap104{
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

#T00, #T01, #T02, #T03, #T04{
    color: black;
    font-size: 19px;
    opacity: 1;
}

.back{
    background-color: aliceblue;
    opacity: 0.75;
}